@model HealthChatBox.Core.Domain.Entities.ChatEntry

@{
    ViewData["Title"] = "UseChatGpt";
}

<h1>UseChatGpt</h1>

<h4>ChatEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UseChatGpt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control" />
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
